{% extends "layout.html" %}

{% block content %}
<script src="cart.js"></script>
<script src="category.js"></script>


<div class="category-header">
  <h1>Health & Skin Care</h1>
</div>


<div class="category-container">
  <!-- Filter and Sort Section -->
  <div class="filter-section">
      <div class="filter-title">Sort & Filter</div>

      <!-- Price Filter -->
      <h5>Filter By Price</h5>
      <div class="price-slider">
          <input type="range" class="form-range" min="100" max="2000" step="10" id="minPriceRange" value="100" oninput="updatePrice()">
          <input type="range" class="form-range" min="100" max="2000" step="10" id="maxPriceRange" value="2000" oninput="updatePrice()">
      </div>
      <p>Selected Range: <span id="priceValue">100 - 2000</span> EGP</p>

      <!-- Sort By -->
      <label for="sort-by" class="form-label"> <h5>Sort By</h5></label>
      <select class="form-select mb-3" id="sort-by">
          <option>Featured</option>
          <option>Best selling</option>
          <option>Alphabetically, A-Z</option>
          <option>Alphabetically, Z-A</option>
          <option>Price, low to high</option>
          <option>Price, high to low</option>
      </select>
  </div>
</div>


<div class="products-container">
<div class="card">
  <img src="images/clinique-dramatically-different-moisturizing-gel-with-pump-125ml-409463.webp" class="card-img-top" alt="La Roche">
  <div class="card-body">
      <h5 class="card-title">Clinique</h5>
      <p class="card-text">Clinique Dramatically Different Moisturizing Gel With Pump - 125ml</p>
      <p class="price">EGP 1,590.00</p>
      <button class="add-to-Cart-btn"><i class="fas fa-shopping-cart"></i> ADD TO CART</button>
  </div>
</div>
</div>
</div>



{% endblock %}