{% extends "layout.html" %} {% load static %} {% block title %}Category -
{{category_name}}{% endblock %} {% block content %}

<script src="{% static 'js/filters.js' %}"></script>

<div class="category-header">
  <h1>{{ category_name }}</h1>
</div>

<div class="category-page-container">
  <!-- Filter and Sort Section -->
  <div class="filter-section">
    <div class="filter-title">Sort & Filter</div>

    <h5>Filter By Price</h5>
    <div class="price-slider">
      <input
        type="range"
        class="form-range"
        min="100"
        max="2000"
        step="10"
        id="minPriceRange"
        value="100"
        oninput="updatePrice()"
      />
      <input
        type="range"
        class="form-range"
        min="100"
        max="2000"
        step="10"
        id="maxPriceRange"
        value="2000"
        oninput="updatePrice()"
      />
    </div>
    <p>Selected Range: <span id="priceValue">100 - 2000</span> EGP</p>

    <label for="sort-by" class="form-label">
      <h5>Sort By</h5>
    </label>
    <select class="form-select mb-3" id="sort-by">
      <option>Featured</option>
      <option>Best selling</option>
      <option>Alphabetically, A-Z</option>
      <option>Alphabetically, Z-A</option>
      <option>Price, low to high</option>
      <option>Price, high to low</option>
    </select>
  </div>

  <!-- Products Section -->
  <div class="products-container">
    {% for product in products %}
    <div class="card">
      <img
        src="{{ product.image_url }}"
        class="card-img-top"
        alt="{{ product.name }}"
      />
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <p class="price">EGP {{ product.price }}</p>

        <form
          method="POST"
          action="{% url 'marketplace:add_item' product.id %}"
        >
          {% csrf_token %}
          <input type="hidden" name="product_id" value="{{ product.id }}" />
          <input
            type="hidden"
            name="category_name"
            value="{{ category_name|lower }}"
          />
          <button class="add-to-Cart-btn">
            <i class="fas fa-shopping-cart"></i> ADD TO CART
          </button>
        </form>
      </div>
    </div>
    {% empty %}
    <p>No products available in this category.</p>
    {% endfor %}
  </div>
</div>

{% endblock %}
