<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Category</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'PMS_Admin/css/admin_styles.css' %}">
</head>
<body>

<div class="header">
    <div>
        <h1>Add New Category</h1>
        <h2>Enter category name and details</h2>
    </div>
</div>

<div class="box report">
    <form method="post">
        {% csrf_token %}
        <div class="form-wrapper">
            {{ form.as_p }}
        </div>
        <button type="submit">Save Category</button>
    </form>
</div>

</body>
</html>
