{% extends "layout.html" %} {% load static %} {% block title %}Admin Dashboard
{%endblock %} {% block content %}
<div
  class="stats"
  style="display: flex; flex-wrap: wrap; gap: 20px; margin: 20px 0"
>
  <div class="box">
    <img src="{% static 'images/total customer.jpeg' %}" alt="Total Customer" />
    <strong>{{ total_customers }}</strong>
    <span class="label">Total Customer</span>
  </div>
  <div class="box">
    <img src="{% static 'images/total medicine.jpeg' %}" alt="Total Medicine" />
    <strong>{{ total_medicines }}</strong>
    <span class="label">Total Medicine</span>
  </div>
  <div class="box">
    <img src="{% static 'images/out of stock.jpeg' %}" alt="Out Of Stock" />
    <strong>{{ out_of_stock }}</strong>
    <span class="label">Out Of Stock</span>
  </div>
  <div class="box">
    <img src="{% static 'images/expired.jpeg' %}" alt="Expired" />
    <strong>{{ expired_medicines }}</strong>
    <span class="label">Expired</span>
  </div>

  <hr />

  <div class="box report" style="flex-basis: 100%">
    <h3>Today's Report</h3>
    <table>
      <tr>
        <td>Total Sales</td>
        <td id="sales">{{ sales }} L.E</td>
      </tr>
      <tr>
        <td>Total Purchase</td>
        <td id="purchase">{{ purchase }} L.E</td>
      </tr>
    </table>
  </div>
</div>

<hr />

<div
  class="buttons"
  style="display: flex; flex-wrap: wrap; gap: 15px; margin: 20px 0"
>
  <a href="{% url 'dashboard:add_product' %}">
    <button>
      <img src="{% static 'images/add new medicine.jpeg' %}" />Add New Medicine
    </button>
  </a>
  <a href="{% url 'dashboard:add_category' %}">
    <button>
      <img src="{% static 'images/new category.png' %}" />Add New Category
    </button>
  </a>
</div>
{% endblock %}
