<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'pharma/css/styles.css' %}">
    <title>User List</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>All Users</h1>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
                <th>City</th>
                <th>Governorate</th>
            </tr>
        </thead>
        <tbody>
             {% for client in clients %}
            <tr>
                <td>{{ client.user }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.phone_number }}</td>
                <td>{{ client.address }}</td>
                <td>{{ client.first_name }}</td>
                <td>{{ client.last_name }}</td>
                <td>{{ client.date_of_birth }}</td>
                <td>{{ client.city }}</ttd>
                <td>{{ client.governerate }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>